/backend/node_modules
/backend/.env
/backend/dist
/backend/logs
/backend/tmp
/backend/coverage
/backend/.DS_Store
/frontend/node_modules
/frontend/.env
/frontend/dist
/frontend/.DS_Store
/frontend/logs
/frontend/tmp
/frontend/coverage
/frontend/.nuxt
/frontend/.nuxtignore
/frontend/.nuxt-lock.json
/frontend/.nuxt-generate
